<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/nav.css">
    <style>
    .circle {
        box-shadow: 0 0 25px 25px <%= boxShadowColor %>;
    }
    </style>
</head>

<body>
    <!-- content -->
    <div class="content">
        <div class="top">
            <div class="top-icon">
                <ion-icon name="arrow-back-outline"></ion-icon>
            </div>
            <div class="top-text">
                Device Name
                <span class="top-date">Feb 20, 13:00</span>
            </div>
            <div class="top-icon">
                <ion-icon name="settings-outline"></ion-icon>
            </div>
        </div>

        <div class="circle">
            <div class="inner">
                <div class="inner-text">
                    Carbon Monoxide <br> (Co)
                </div>
                <div class="co">
                    <%= data[0].co %>
                    <span>ppm</span>
                </div>
            </div>
        </div>

        <div class="all-value">
            <div class="value">
                <div class="val-text">ค่าคาร์บอนมอนอกไซด์(Co) :</div>
                <div class="val-num">
                    <%= data[0].co %>
                </div>
                <div class="val-icon"><ion-icon name="leaf-outline"></ion-icon></div>
            </div>

            <div class="value">
                <div class="val-text">ค่าความชื้น / อุณหภูมิ :</div>
                <div class="val-num"><%= data[0].humidity %> / <%= data[0].temperature %></div>
                <div class="val-icon"><ion-icon name="water-outline"></ion-icon></div>
            </div>

            <div class="two-val">
                <div class="value">
                    <div class="val-text">ค่า LPG :</div>
                    <div class="val-num"><%= data[0].lpg %></div>
                </div>
                <div class="value">
                    <div class="val-text">ควัน :</div>
                    <div class="val-num"><%= data[0].smoke %></div>
                </div>
            </div>
        </div>
    </div>
    <!-- content -->

    <!-- navigation bar -->
    <div class="nav">
        <ul>
            <li class="list">
                <a href="#">
                    <span class="icon">
                        <ion-icon name="home-outline"></ion-icon>
                    </span>
                    <span class="text">หน้าหลัก</span>
                </a>
            </li>

            <li class="list active">
                <a href="#">
                    <span class="icon">
                        <ion-icon name="stats-chart-outline"></ion-icon>
                    </span>
                    <span class="text">Co</span>
                </a>
            </li>

            <li class="list">
                <a href="#">
                    <span class="icon">
                        <ion-icon name="settings-outline"></ion-icon>
                    </span>
                    <span class="text">ตั้งค่า</span>
                </a>
            </li>

            <div class="indicator">

            </div>
        </ul>
    </div>
    <!-- navigation bar -->

    <script src="/public/script/nav.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>