<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/nav.css">
    <style>
    .circle {
        box-shadow: 0 0 25px 25px <%= boxShadowColor %>;
    }
    .inner .inner-text{
        margin: 0;
    }
    </style>
</head>

<body>
    <!-- content -->
    <div class="content">
        <div class="top">
            <div class="top-icon">
                <ion-icon name="notifications-outline"></ion-icon>
            </div>
            <div class="top-text">
                Device Name
                <span class="top-date"><%= new Date(data[0].created_at).toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %> , <span class="top-time"><%= new Date(data[0].created_at).toLocaleTimeString('en-US', { hour: 'numeric', minute: 'numeric', hour12: false }) %></span></span>
            </div>
            <div class="top-icon">
                <ion-icon name="settings-outline"></ion-icon>
            </div>
        </div>

        <div class="circle">
            <div class="inner">
                <div class="inner-text">
                    ควัน <br> (Smoke)
                </div>
                <div class="co">
                    <%= data[0].smoke %>
                </div>
            </div>
        </div>

        <div class="all-value">
            <div class="value">
                <div class="val-text">ค่าคาร์บอนมอนอกไซด์(Co) :</div>
                <div class="val-num">
                    <%= data[0].co %> ppm
                </div>
                <div class="val-icon"><ion-icon name="leaf-outline"></ion-icon></div>
            </div>

            <div class="value">
                <div class="val-text">ค่าความชื้น / อุณหภูมิ :</div>
                <div class="val-num"><%= data[0].humidity %>% / <%= data[0].temperature %>°C</div>
                <div class="val-icon"><ion-icon name="water-outline"></ion-icon></div>
            </div>

            <div class="two-val">
                <div class="value">
                    <div class="val-text">ค่า LPG :</div>
                    <div class="val-num"><%= data[0].lpg %></div>
                </div>
                <div class="value">
                    <div class="val-text">ควัน :</div>
                    <div class="val-num"><%= data[0].smoke %></div>
                </div>
            </div>
        </div>
    </div>
    <!-- content -->

    <!-- navigation bar -->
    <div class="nav">
        <ul>
            <li class="list">
                <a href="/lpg">
                    <span class="icon">
                        <ion-icon name="bonfire-outline"></ion-icon>
                    </span>
                    <span class="text">LPG</span>
                </a>
            </li>

            <li class="list">
                <a href="/">
                    <span class="icon">
                        <ion-icon name="stats-chart-outline"></ion-icon>
                    </span>
                    <span class="text">Co</span>
                </a>
            </li>

            <li class="list active">
                <a href="/smoke">
                    <span class="icon">
                        <ion-icon name="flame-outline"></ion-icon>
                    </span>
                    <span class="text">Smoke</span>
                </a>
            </li>

            <div class="indicator">

            </div>
        </ul>
    </div>
    <!-- navigation bar -->

    <script src="/public/script/nav.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>